<%- contentFor('body') %>

<h2>Incluir Categoria</h2>
<div class="form-group">
  <label>Nome:</label>
  <input type="text" name="name" class="form-control" value="">
</div>
<div class="form-group">
  <label>Tipo:</label>
    <select name="type" id="type" class="form-control">
       <option value="revenue">Receita</option>
       <option value="expense">Despesa</option>
    </select>
</div>
<button class="btn btn-success" type="submit">Salvar</button>
</form>
<% if (data) { %>
    <h3>Categorias</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>ID</td>
          <td>Nome</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
          <% for(var i = 0; i < data.length; i++) { %>
            <tr>
              <td><%= data[i].id %></td>
              <td><%= data[i].name %></td>
              <td class="text-center">
                <a href="/edit-account/<%= data[i].id %>" class="btn btn-info">Editar</a>
                <a href="/delete-account/<%= data[i].id %>" class="btn btn-danger">Remover</a>
              </td>
            </tr>
          <% } %>
      </tbody>
    </table>
  <% } %>